* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

.frame span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: baseline;
  height: 5vw;
  /* background-color: red; */
  text-align: center;
  font-size: 20vw;
  font-weight: 700;
  padding: 0 5vw;
  transform: translateY(-5vw);
}

.frame {
  position: relative;
  height: 5vw;
  z-index: 2;
  /* background-color: red; */
  overflow: hidden;
}

#circle {
  pointer-events: none;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 2vw;
  height: 2vw;
  /* background-color: royalblue; */
  background-color: rgb(72, 18, 137);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}
