@font-face {
  font-family: cooper;
  src: url(./Cooperltbt.ff);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Gilroy";
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: "cooper";
}

#main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
}

.frame span {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: baseline;
  height: 5vw;
  /* background-color: red; */
  background-color: springgreen;
  text-align: center;
  font-size: 3vw;
  font-weight: 700;
  padding: 0 5vw;
  transform: translateY(-5vw);
}

.frame {
  position: relative;
  height: 5vw;
  z-index: 2;
  /* background-color: red; */
  overflow: hidden;
}

#circle {
  pointer-events: none;
  z-index: 1;
  top: 0;
  left: 0;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  width: 2vw;
  height: 2vw;
  /* background-color: royalblue; */
  background-color: rgb(72, 18, 137);
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 0.5s;
}

#nav {
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  /* background-color: red; */
  align-items: center;
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
}

#nav #part2 {
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav #part2 a {
  text-decoration: none;
  color: #222;
  margin: 20px;
}

#nav #part2 a:nth-last-child(1) {
  /* background-color: yellowgreen; */
  padding: 7px 18px;
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  border: 1px solid #000;
}

#nav > h1 {
  font-size: 20px;
  font-weight: 100;
}

#nav #part2 a:nth-last-child(1) #green {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: -100%;
  background-color: springgreen;
  transition: left 0.4s ease;
}

#nav #part2 a:nth-last-child(1):hover #green {
  left: 0;
}

#nav #part2 a:nth-last-child(1) h5 {
  font-weight: 100;
  position: relative;
  z-index: 99;
}

#main > h1 {
  font-size: 5.5vw;
  font-weight: 100;
  width: 60%;
  text-align: center;
  position: relative;
  z-index: 99;
  /* background-color: red; */
  text-transform: capitalize;
}

#main > h1::after {
  content: "";
  position: absolute;
  width: 35%;
  height: 16px;
  /* background-color: springgreen; */
  /* background-image: "./green.svg"; */
  background-image: url(https://thisisdigital.co.uk/dist/images/underline-green.svg);
  bottom: 0;
  background-size: cover;
  left: 32%;
  translate: translate(-50%, 0);
}

#main #img1 {
  height: 400px;
  width: 260px;
  position: absolute;
  right: 72%;
  top: 18%;
}

#main #img2 {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 72%;
  top: 18%;
}

#main #img3 {
  height: 210px;
  width: 200px;
  position: absolute;
  right: 7%;
  top: 56%;
}

#main img {
  transition: margin 0.4s ease;
}

#main img:hover {
  margin-top: 40px;
}
